body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 120%;
    background-color: black;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    padding: 0.4em 1em;
    outline: none;
    border: none;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

.search-button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search-button:hover {
    background-color: #7c7c7c6b;
}

.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading { 
    visibility: hidden;
}

.line {
    width: 100%;
    border: 0.3px solid lightgray;
    margin-top: 20px;
}

.days {
    justify-content: left;

}

.day1 {
    margin-right: 15px;
}

.day2 {
    margin-right: 15px;
}

.day3 {
    margin-right: 15px;
}

.day4 {
    margin-right: 15px;;
}

.date {
    margin-top:10px;
    margin-bottom: 0;
    margin-left: 15px;
    padding: 0;
}

.icon.small {
    padding: 0;
    margin-left: 5px;
}

.temps {
    margin-left: 0;
}

.max-temp {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.min-temp {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

h4 {
    font-size: 1rem;
}

